{{define "artist"}}
<div class="artist-page">
    <img src="{{.Content.Image}}" alt="{{.Content.Name}}" class="artist-image">
    <h2>{{.Content.Name}}</h2>
    <p><strong>Members:</strong> <ul>{{range .Content.Members}}<li>{{.}}</li> {{end}}</ul></p>
    <p><strong>Creation Date:</strong> {{.Content.CreationDate}}</p>
    <p><strong>First Album:</strong> {{.Content.FirstAlbum}}</p>
    
    <!-- <div class="hidden">
    {{ .Content.Concert }}
    </div>

    <div class="hidden">
        {{ .Content.FormattedConcertsHTML }}
    </div>

    <div class="hidden">
        {{ .Content.FormattedConcertsHTML }}
    </div> -->

    {{ range .Content.SortedConcerts }}
    <h3>{{ .Year }}</h3>
    <ul>
        {{ range .Concerts }}
            <li>{{ .Date.Format "2 January" }} - {{ .Location }}</li>
        {{ end }}
    </ul>
{{ end }}
</div>
{{end}}