{{define "layout"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {{if .Data.IsError}}Error {{.Data.ErrorCode}} - {{end}}{{.Data.Title}}
    </title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png"/>
    <link rel="manifest" href="/static/img/site.webmanifest" />
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="wrapper">
      {{template "banner" .}}
      {{template "nav" .}}
      <main role="main">
        <div class="container">
          {{if .Data.IsError}}
          <h1 role="heading" aria-level="1">Error {{.Data.ErrorCode}}</h1>
          {{else}}
          <h1 role="heading" aria-level="1">{{.Data.Header}}</h1>
          {{end}} {{.Content}}
        </div>
      </main>
      {{template "footer" .}}
      <script src="/static/js/theme.js"></script>
    </div>
  </body>
</html>
{{end}}
